.produto__card {
  width: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produto__card .card__imagem {
  height: 174px;
}

.produto__card .card__nome {
  color: var(--preto-100, #464646);
  font-weight: 500;
}

.produto__card .card__preco-antigo {
  color: rgba(199, 4, 4, 0.69);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.produto__card .card__preco-antigo span {
  text-decoration: line-through;
}

.produto__card .card__preco {
  color: var(--preto-100, #464646);
  font-size: 16px;
  font-weight: 700;
}

.produto__card .card__botao {
  display: flex;
  color: var(--azul-100, #2a7ae4);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.cardADM__botoes {
  display: none;
}

/* Card selecionado */

.cardSelecionado {
  display: flex;
  padding: 64px 0;
  gap: 16px;
}

.cardSelecionado__imagem {
  width: 35rem;
  height: 25.1875rem;
}

.cardSelecionado__informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.cardSelecionado__nome {
  color: var(--preto-100, #464646);
  font-size: 52px;
  font-weight: 500;
}

.cardSelecionado__precos {
  display: flex;
  gap: 16px;
}

.cardSelecionado__preco-antigo {
  color: rgba(199, 4, 4, 0.69);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.cardSelecionado__preco-antigo span {
  text-decoration: line-through;
}

.cardSelecionado__preco {
  color: var(--preto-100, #464646);
  font-size: 16px;
  font-weight: 700;
}

.cardSelecionado__descricao {
  color: var(--preto-100, #464646);
  font-size: 16px;
  font-weight: 400;
}

/* Card Pesquisado */

.card__pesquisado {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #8f8f8f35;
}

.cardPesquisado__imagem {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.cardPesquisado__nome {
  width: 80px;
  color: var(--preto-100, #464646);
  font-size: 12px;
  font-weight: 700;
}

.cardPesquisado__preco {
  width: 80px;
  color: var(--preto-100, #464646);
  font-size: 12px;
  font-weight: 700;
}

.cardPesquisado__botao {
  font-size: 12px;
  width: 80px;
  color: #2a7ae4;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:550px) {
  .produto__card {
  width: 156px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produto__card .card__imagem {
  height: 176px;
}
}