header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 32px 0;
  background-color: #fff;
}

header .container {
  width: 90rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inicio {
  display: flex;
  align-items: center;
  gap: 32px;
}

.area__pesquisa {
  display: flex;
  flex-direction: column;
}

/* Input Pesquisa */

.pesquisa__container {
  width: 361px;
  display: flex;
  height: calc(40px - 16px);
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid #8f8f8f35;
}

.input__Pesquisa {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.pesquisa__container img {
  width: 24px;
}

.pesquisa__resultado {
  display: none;
  position: absolute;
  width: calc(413px - 20px);
  min-height: 50px;
  margin-top: 42px;
  background-color: #f5f5f5;
  border-radius: 0 0 20px 20px;

  border-left: 1px solid #8f8f8f35;
  border-right: 1px solid #8f8f8f35;
  border-bottom: 1px solid #8f8f8f35;

  z-index: 1;
}

.lista__produtosPesquisado {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 10px;
}

/* Fim Input Pesquisa */

.botao__login {
  width: 180px;
  height: 100%;
  border: 1px #2a7ae4 solid;
  color: #2a7ae4;
  background-color: transparent;
  cursor: pointer;
}

.botao__pesquisa {
  display: none;
}

@media screen and (max-width:425px) {

  header .container {
  width: 100%;
  justify-content: space-around;
}

.header__img {
  width: 100px;
  height: 28px;
}

.area__pesquisa {
  display: none;
}

.botao__pesquisa {
  display: flex;
  width: 24px;
  height: 24px;
}

.botao__pesquisa img {
  width: 100%;
}

.botao__login{
  width: 133px;
}
  
}