main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 64px;
}

.produtos {
  width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.titulo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo__container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--azul-100, #2a7ae4);
  font-size: 16px;
  font-weight: 700;
  gap: 8px;
  cursor: pointer;
}

.titulo__lista {
  color: var(--preto-100, #464646);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.lista__produtos {
  display: flex;
  justify-content: start;
  gap: 34px;
}

/* Sessão CONTATO */

.contatos {
  width: 100%;
  background: var(--azul-10, #eaf2fd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0 0 0;
}

.contatos .container {
  width: 90rem;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 64px 0;
  gap: 112px;
}

.contatos__logo {
  display: flex;
}

.contatos__itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 24px;
}

.contatos__itens a {
  font-size: 16px;
  font-weight: 500;
  color: var(--preto-100, #464646);
}

.contatos__email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contatos__email h3 {
  color: var(--preto-100, #464646);
  font-size: 16px;
  font-weight: 700;
}

.contatos__email .nome__email {
  width: 35rem;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 8px 12px 7px 12px;
  border-radius: 4px;
  background: var(--preto-branco, #fff);
  border-bottom: 1px solid #c8c8c8;
}

.contatos__email .nome__email label {
  color: var(--preto-50, #a2a2a2);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.contatos__email .nome__email input {
  height: 20px;
}

.contatos__email textarea {
  padding: 8px 0 0 12px;
  height: 66px;
  border-radius: 4px;
  background: var(--preto-branco, #fff);
  resize: none;
  color: var(--preto-50, #a2a2a2);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contatos__email button {
  width: 165px;
  height: 50px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--azul-100, #2a7ae4);
  color: var(--preto-branco, #fff);
  cursor: pointer;
}

aside {
  width: 90rem;
}

.produto__simulares {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.produto__simulares h1 {
  color: var(--preto-100, #464646);
  font-size: 32px;
  font-weight: 700;
}

.produto__simulares ul {
  display: flex;
  gap: 32px;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .produtos {
  width: 100%;
}

.titulo__container {
 padding: 16px;
}

.titulo__lista {
  color: var(--preto-100, #464646);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.titulo__container button {
  font-size: 14px;
}

.lista__produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 16px;
  padding: 16px;
}

}